.footer {
  position: absolute;
  left: 0;
  margin-bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background: rgba(14, 116, 188, 1);
}

p {
  font-size: 12px;
  padding-top: 4px;
}
