<div class="mainDisplay">
  <div class="card">
    <img
      class="card-img-top"
      src="../.././../assets/images/worldinhands.jpeg"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
  <div class="card">
    <img
      class="card-img-top"
      src="../.././../assets/images/taxinfo20.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
  <div class="card">
    <img
      class="card-img-top"
      src="../.././../assets/images/InsuranceProtection.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
</div>
