<div class="card_container">
        <ul class="main_cont">
                <li id=card#1 class="card">
                        <span class="card_header"></span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, nemo. Pariatur sint soluta, facere, atque consequatur inventore optio eum dolores ratione incidunt impedit illum, praesentium nobis veritatis. Cum, quasi eligendi!
                </li>
                <li id=card#2 class="card">
                        <span class="card_header"></span>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo explicabo odio sunt totam non. Tempore voluptatem quibusdam consequuntur enim repellat a autem ex pariatur delectus minima quidem sit, harum hic.
                </li>
                <li id=card#3 class="card">
                        <span class="card_header"></span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio cum dicta iusto quibusdam alias ipsum iste deserunt eveniet consequatur commodi, quaerat itaque ab in nam illo expedita illum. Excepturi, odio.
                </li>
        </ul>
</div>
~