.nav_body {
  width: 100%;
  display: flex;
  padding-top: 70px;
  padding-left: 2vw;
  padding-right: 2vw;
}

.logo_container {
  display: flex;
}

.logo {
  justify-content: flex-start;
  height: 0;
  padding-top: 40px;
  width: 150px;
  overflow: hidden;
  background: url(../../../assets/images/logo4.1.jpg) 0 no-repeat transparent;
  background-size: auto 35px;
  position: relative;
  z-index: 5;
  margin: 0 0 0 10px;
}

.menu_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_menu--item {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  margin: 0;
  padding: 0 3vw;
  display: inline-block;
}

.menu {
  list-style-type: none;
  position: relative;
  display: flex;
  padding: 0;
}

.btn_container {
position: relative;
}

.btn {
  width: 100px;
  border-radius: 4px;
  background-color: #308cce;
  color: white;
  border: 1px;
}

.btn:hover {
  background-color: #1c679c;
}

a {
  color: rgba(67, 67, 68, 0.8);
  text-decoration: none;
}

a:hover {
  color: #e91d24;
}
