<div class="nav_container">

  <div class="logo_container">
    <img class="grid_logo" src="../../../assets/images/logo4.1.jpg" />
  </div>

  <div>
    <ul class="nav_menu">
      <li class="nav_menu--item"><a href="">HOME</a></li>
      <li class="nav_menu--item"><a href="">STAFF</a></li>
      <li class="nav_menu--item"><a href="">SERVICES</a></li>
      <li class="nav_menu--item"><a href="">EVENTS</a></li>
      <li class="nav_menu--item"><a href="">CONTACT US</a></li>
      <li class="nav_menu--item"><a href="">TRANSLATIONS</a></li>
    </ul>
  </div>

  <div class="post_container">
  </div>

</div>
