.nav_container {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.nav_menu {
  list-style-type: none;
  display: inline;
  position: absolute;
  left: 0px;
  top: 80px;
  width: 100%;
  text-align: center;
  padding: 0 0 0 0;
}

.nav_menu--item {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  margin: 0;
  padding: 0 3vw;
  display: inline-block;
}

a {
  color: rgba(67, 67, 68, 0.8);
  text-decoration: none;
}

a:hover {
  color: #e91d24;
}

.logo_container {
  margin-top: 1vh;
  width: 15vw;
  margin-left: 6.5vw;
}

.grid_logo {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding-top: 40px;
  overflow: hidden;
  background-size: auto 35px;
  position: relative;
  z-index: 1;
  margin: 0 0 0 10px;
}
